table th {
    cursor: pointer;
    padding: .5rem;
    background: #393939;
    transition: background 250ms ease, color 250ms ease;
    border-radius: 3px;
    color: #fff;

}

table th:hover {
    background: #23d5ab;
    color: #000;
}


.greyCell{
    background: #ec2020;
}
.data{
    overflow-y: scroll;
    background-color: white;
}



.celltd{
    padding-inline: .5rem;
}

.removeElement{
    display: none;
}
